.vs-container {
    background-color: #041c32;
}

.vs-title,
p {
    font-size: 22px;
    line-height: 111.25%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.065em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #041c32;
    justify-content: center;
    height: 70px;
}

@media only screen and (max-width: 600px) {

    .vs-title,
    p {
        font-size: 10px;
    }
}

@media only screen and (min-width: 600px) {

    .vs-title,
    p {
        font-size: 13px;
    }
}

@media only screen and (min-width: 768px) {

    .vs-title,
    p {
        font-size: 16px;
    }
}

@media only screen and (min-width: 992px) {

    .vs-title,
    p {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1200px) {

    .vs-title,
    p {
        font-size: 22px;
    }
}

.vs-header {
    font-size: 27px;
    line-height: 111.25%;
    display: flex;
    justify-content: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #041c32;
    height: 150px;
    align-items: center;
}

.swiper-container {
    position: relative;
        width: 100%;
}

.swiper-slide {
    justify-content: center;
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image-wrapper {
    display: flex;
    flex-wrap: wrap;
    /* Allow wrapping of items */
    justify-content: space-between;
    /* Create space between images */
    align-items: center;
    /* Center images vertically */
}

.listinig-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure the image fills the slide */
}

.recent-listner-info {
    display: flex;
    flex-direction: column;
}

.recent-listner {
    width: 102px;
    /* Define the width of the photo */
    height: 115px;
    /* Define the height of the photo */
}

#recent-listner-company {
    width: 113px;
    height: 61px;
}

#recent-listner {
    width: 102px;
    height: 115px;
}

.recent-listner-details {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}

.prev-btn,
.next-btn {
    border-radius: 50%;
    background-color: #ecb365;
    height: 47px;
    width: 47px;
}

@media screen and (max-width: 1327px) {

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .swiper-slide {
        width: calc(50% - 10px) !important;
    }
}

@media screen and (max-width: 600px) {
    .swiper-slide {
        width: 100% !important;
    }
}