.go-to-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 160px;
    width: 100%;
    align-content: center;
    gap: 30px;
}

.go-to-services button {
    /* width: 251px;
  height: 47px; */
    /* font-size: 19px; */
    color: #044C7B;
    background: #FFFFFF;
    border: 1px solid #064663;
    box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.15), inset -2px -2px 4px -1px rgba(4, 28, 50, 0.2);
    border-radius: 2px;
    cursor: pointer;
}

.go-to-services p {
    color: #041C32;
    text-align: center;
}



@media only screen and (min-width: 600px) {

    .go-to-services p,
    .go-to-services button {
        font-size: 13px;
    }
}

@media only screen and (min-width: 768px) {

    .go-to-services p,
    .go-to-services button {
        font-size: 16px;
    }
}

@media only screen and (min-width: 992px) {

    .go-to-services p,
    .go-to-services button {
        font-size: 19px;
    }

}

@media only screen and (min-width: 1200px) {

    .go-to-services p,
    .go-to-services button {
        font-size: 22px;
    }

}